/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Layout adapted from https://github.com/tmfsd/Silakka54-layout
 * (Mac + Windows base/fn/numpad/symbol layers), with an added mouse
 * pointing layer and ZMK bluetooth profile controls.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/pointing.h>

#define MAC_BASE 0
#define MAC_FN   1
#define MAC_NUM  2
#define MAC_SYM  3
#define WIN_BASE 4
#define WIN_FN   5
#define WIN_NUM  6
#define WIN_SYM  7
#define MOUSE    8

/ {
    behaviors {
        /* Generic home-row-mod / thumb mod-tap: hold = modifier, tap = keycode */
        hm: home_row_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        /* Thumb key: tap = volume down, hold = one-shot Shift+Alt+Gui (macOS "hyper") */
        hyper_mac: hyper_mac {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&sk>, <&kp>;
        };

        /* Thumb key: tap = volume down, hold = one-shot Shift+Alt+Ctrl (Windows "meh") */
        meh_win: meh_win {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&sk>, <&kp>;
        };

        /* Tap = switch to Mac base layer, double-tap = switch to Windows base layer */
        td_os: os_switch {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&to MAC_BASE>, <&to WIN_BASE>;
        };
    };

    macros {
        screenshot_mac: screenshot_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp LGUI &kp LSHFT>
                      , <&macro_tap &kp N4>
                      , <&macro_release &kp LGUI &kp LSHFT>;
        };

        custom_shortcut: custom_shortcut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_press &kp RALT &kp RSHFT>
                      , <&macro_tap &kp FSLH>
                      , <&macro_release &kp RALT &kp RSHFT>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_bspc {
            timeout-ms = <50>;
            key-positions = <19 20>;
            bindings = <&kp BSPC>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        mouse_mac {
            if-layers = <MAC_FN MAC_SYM>;
            then-layer = <MOUSE>;
        };
        mouse_win {
            if-layers = <WIN_FN WIN_SYM>;
            then-layer = <MOUSE>;
        };
    };

     keymap {
        compatible = "zmk,keymap";

        mac_base {
            display-name = "Mac";
            bindings = <
&kp MINUS   &kp N1 &kp N2         &kp N3         &kp N4          &kp N5           &kp N6 &kp N7          &kp N8         &kp N9          &kp N0 &screenshot_mac
&kp ESC     &kp Q  &kp W          &kp E          &kp R           &kp T            &kp Y  &kp U           &kp I          &kp O           &kp P  &kp DEL
&mo MAC_NUM &kp A  &hm LCTRL S    &hm LALT D     &hm LSHFT F     &kp G            &kp H  &hm RSHFT J     &hm RALT K     &hm RCTRL L     &kp SEMI &kp SQT
&none       &kp Z  &kp X          &kp C          &kp V           &kp B            &kp N  &kp M           &kp COMMA      &kp DOT         &kp FSLH &td_os
                       &hyper_mac LS(LA(LGUI)) C_VOL_DN  &hm LGUI TAB  &kp SPACE      &lt MAC_SYM SPACE  &hm RGUI RET  &mo MAC_FN
            >;
        };

        mac_fn {
            display-name = "MacFn";
            bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &out OUT_TOG &ext_power EP_TOG &trans  &trans   &trans &trans
&trans     &kp F1       &kp F2       &kp F3       &kp F4       &kp F5          &trans       &kp PG_UP         &kp UP  &kp PG_DN &trans &trans
&trans     &kp F6       &kp LCTRL    &kp LALT     &kp LSHFT    &kp F7          &kp HOME     &kp LEFT          &kp DOWN &kp RIGHT &kp END &trans
&trans     &kp F8       &kp F9       &kp F10      &kp F11      &kp F12         &trans       &trans            &trans  &trans   &trans &trans
                            &sk LS(LA(LGUI)) &kp LGUI &trans        &trans   &trans   &trans
            >;
        };

        mac_num {
            display-name = "MacNum";
            bindings = <
&trans &trans     &trans    &trans    &trans     &trans        &trans      &trans      &trans      &trans     &trans        &trans
&trans &kp N1     &kp N2    &kp N3    &kp N4     &kp N5        &kp KP_PLUS &kp KP_N7   &kp KP_N8   &kp KP_N9  &kp KP_MULTIPLY &trans
&trans &kp MINUS  &kp LCTRL &kp LALT  &kp LSHFT  &kp COMMA     &kp COMMA   &kp KP_N4   &kp KP_N5   &kp KP_N6  &kp DOT         &trans
&trans &kp N6     &kp N7    &kp N8    &kp N9     &kp N0        &kp KP_MINUS &kp KP_N1  &kp KP_N2   &kp KP_N3  &kp KP_DIVIDE   &trans
                    &sk LS(LA(LGUI)) &kp LGUI &kp SPACE    &kp KP_N0 &kp KP_ENTER &kp DEL
            >;
        };

        mac_sym {
            display-name = "MacSym";
            bindings = <
&trans &trans      &trans      &trans   &trans      &trans       &trans     &trans     &trans     &trans     &trans      &trans
&trans &kp LS(LBKT) &kp LS(EQUAL) &kp EQUAL &kp LS(RBKT) &kp C_BRI_UP &kp GRAVE &kp LS(N4) &kp LS(N5) &kp LS(N6) &kp LS(N8) &trans
&kp LSHFT &kp LS(N9) &kp LS(MINUS) &kp MINUS &kp LS(N0) &kp C_PP     &kp LS(GRAVE) &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N7) &kp RALT
&trans &kp LBKT    &custom_shortcut &kp DOT &kp RBKT  &kp C_BRI_DN &kp RCTRL  &kp FSLH   &kp LS(BSLH) &kp BSLH &trans      &trans
                    &hyper_mac LS(LA(LGUI)) C_VOL_DN &hm LGUI C_MUTE &kp C_VOL_UP  &trans &trans &trans
            >;
        };

        win_base {
            display-name = "Win";
            bindings = <
&kp MINUS   &kp N1 &kp N2      &kp N3         &kp N4          &kp N5           &kp N6 &kp N7          &kp N8         &kp N9   &kp N0 &kp PSCRN
&kp ESC     &kp Q  &kp W       &kp E          &kp R           &kp T            &kp Y  &kp U           &kp I          &kp O    &kp P  &kp DEL
&mo WIN_NUM &kp A  &kp S       &hm LALT D     &hm LSHFT F     &kp G            &kp H  &hm RSHFT J     &hm RALT K     &kp L    &kp SEMI &kp SQT
&kp LGUI    &kp Z  &kp X       &kp C          &kp V           &kp B            &kp N  &kp M           &kp COMMA      &kp DOT  &kp FSLH &td_os
                       &meh_win LS(LA(LCTRL)) C_VOL_DN &hm LCTRL TAB  &kp SPACE   &lt WIN_SYM SPACE  &hm RCTRL RET  &mo WIN_FN
            >;
        };

        win_fn {
            display-name = "WinFn";
            bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &out OUT_TOG &ext_power EP_TOG &trans  &trans   &trans &trans
&trans     &kp F1       &kp F2       &kp F3       &kp F4       &kp F5          &trans       &kp PG_UP         &kp UP  &kp PG_DN &trans &trans
&trans     &kp F6       &trans       &kp LALT     &kp LSHFT    &kp F7          &kp HOME     &kp LEFT          &kp DOWN &kp RIGHT &kp END &trans
&kp LGUI   &kp F8       &kp F9       &kp F10      &kp F11      &kp F12         &trans       &trans            &trans  &trans   &trans &trans
                            &sk LS(LA(LCTRL)) &kp LCTRL &trans        &trans   &trans   &trans
            >;
        };

        win_num {
            display-name = "WinNum";
            bindings = <
&trans &trans     &trans    &trans    &trans     &trans        &trans      &trans      &trans      &trans     &trans        &trans
&trans &kp N1     &kp N2    &kp N3    &kp N4     &kp N5        &kp KP_PLUS &kp KP_N7   &kp KP_N8   &kp KP_N9  &kp KP_MULTIPLY &trans
&trans &kp MINUS  &trans    &kp LALT  &kp LSHFT  &kp COMMA     &kp COMMA   &kp KP_N4   &kp KP_N5   &kp KP_N6  &kp DOT         &trans
&trans &kp N6     &kp N7    &kp N8    &kp N9     &kp N0        &kp KP_MINUS &kp KP_N1  &kp KP_N2   &kp KP_N3  &kp KP_DIVIDE   &trans
                    &sk LS(LA(LCTRL)) &kp LCTRL &kp SPACE    &kp KP_N0 &kp KP_ENTER &kp DEL
            >;
        };

        win_sym {
            display-name = "WinSym";
            bindings = <
&trans &trans      &trans      &trans   &trans      &trans       &trans     &trans     &trans     &trans     &trans      &trans
&trans &kp LS(LBKT) &kp LS(EQUAL) &kp EQUAL &kp LS(RBKT) &kp C_BRI_UP &kp GRAVE &kp LS(N4) &kp LS(N5) &kp LS(N6) &kp LS(N8) &trans
&kp LSHFT &kp LS(N9) &kp LS(MINUS) &kp MINUS &kp LS(N0) &kp C_PP     &kp LS(GRAVE) &kp LS(N1) &kp LS(N2) &kp LS(N3) &kp LS(N7) &kp RALT
&trans &kp LBKT    &custom_shortcut &kp DOT &kp RBKT  &kp C_BRI_DN &trans     &kp FSLH   &kp LS(BSLH) &kp BSLH &trans      &trans
                    &meh_win LS(LA(LCTRL)) C_VOL_DN &hm LCTRL C_MUTE &kp C_VOL_UP  &trans &trans &trans
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            bindings = <
&trans &trans  &trans     &trans     &trans     &trans   &trans          &trans           &trans        &trans           &trans           &trans
&trans &trans  &trans     &trans     &trans     &trans   &trans          &msc SCRL_UP     &mmv MOVE_UP  &msc SCRL_DOWN   &trans           &trans
&trans &trans  &mkp LCLK  &mkp MCLK  &mkp RCLK  &trans   &msc SCRL_LEFT  &mmv MOVE_LEFT   &mmv MOVE_DOWN &mmv MOVE_RIGHT  &msc SCRL_RIGHT  &trans
&trans &trans  &trans     &trans     &trans     &trans   &trans          &trans           &trans        &trans           &trans           &trans
                &trans     &trans     &mkp LCLK  &mkp RCLK  &trans  &trans
            >;
        };
    };
};